body {
	margin: 0;
	padding: 0;
	border: 0; 
	font-family:Georgia, 'Times New Roman', Times, serif;
	background-color:#a21818;  
}

header { 
	text-align: center;	
	height: 75px;
	padding-top: 25px;	
	color: rgb(228, 58, 58));
	background-color: rgba(212, 37, 37, 0.811);
}

main {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: space-around;
	padding: 20px;
	flex-wrap: wrap;
		
}

.box {
	width: 350px;
	height: 400px;
	background-color: #000000;
	border-radius: 10px;
	padding: 20px;	
	color: #ffffff;
	border-style: inherit;    
	margin-bottom: 20px;
	
}
.box:hover {
	box-shadow: 10px 10px 15px #000000;
}

.box h2 {
	margin: 0 0 10px 0;
	padding: 0;
}

.box figure {
	width: 300px;
	height: 200px;
	padding-top: 10px;
	text-align: center;
	margin: auto;
}

img {
	width: 300px;
	height: 200px;    
}


.box p {
	text-align: center;	
}

footer {
	background-color: black;
	height: 50px;
	padding-top: 10px;
	color: rgb(245, 12, 12);
	text-align: center;
}